{% extends 'order_details.html' %}
{% load static %}

{% block style %}

<style>
   .section-title {
      font-size: 3rem;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 1.4rem;
   }
   
</style>

{% endblock style %}

{% block content1 %}

{% if messages %}
{% for message in messages %}


<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong class="ms-4">{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{% endfor %}
{% endif %}

<section class="contact_section">
   <div class="container">
      <div class="row align-items-center flex-column flex-lg-row-reverse">
         <div class="col-lg-7 mb-5 mb-lg-0">
            <div class="">
               <img src="{% static './images/error_page.avif' %}" alt="">
            </div>
         </div>
         <div class="col-lg-5 pb-5 text-center text-lg-start">
            <h2 class="section-title">
               Opps.... This page is not found..
            </h2>
            <p class="text-black">
               Sorry ,the page you are requested is currently not available so please try again later after some
               time...
            </p>
             <a class=" btn main-btn " aria-current="page" href="{{url}}">Dashboard</a>
         </div>
      </div>
   </div>
</section>






{% endblock content1 %}










